.root {
  width: 100%;
}

.user {
  display: flex;
  flex-direction: row;
  column-gap: var(--font-width);
}

.user-pill {
  opacity: var(--opacity-tertiary);
}

.bot {
  display: flex;
  flex-direction: row;
  column-gap: var(--font-width);
  align-items: stretch;
}

.bot-line {
  flex-grow: 0;
  flex-shrink: 0;
  opacity: var(--opacity-tertiary);
}
