.root {
  text-wrap: wrap;
  p {
    padding-bottom: var(--line-height);
  }
}

.user {
  display: flex;
  flex-direction: row;
  column-gap: var(--font-width);
  margin-bottom: var(--line-height);
}

.user-pill {
  vertical-align: top;
  opacity: var(--opacity-tertiary);
}

.bot {
  display: flex;
  flex-direction: row;
  column-gap: var(--font-width);
  align-items: stretch;
}

.bot-text {
  display: flex;
  flex-direction: column;
  opacity: var(--opacity-secondary);
  p {
    display: inline-block;
    vertical-align: top;
    em {
      opacity: var(--opacity-primary);
      color: var(--color-highlight);
    }
  }
}

.bot-line {
  flex-grow: 0;
  flex-shrink: 0;
  vertical-align: top;
  margin-bottom: var(--line-height);
  opacity: var(--opacity-tertiary);
}
