.form {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 1;
  column-gap: var(--font-width);
  align-items: end;
  width: 100%;
  max-width: calc(var(--chat-width) * var(--font-width));
}

.input {
  display: none;
}

.prompt {
  flex-grow: 1;
  min-height: var(--line-height);
  text-wrap: wrap;
  white-space: pre-wrap;
  word-break: normal;
  overflow-wrap: break-word;
  cursor: text;
}

.prompt-line {
  clear: both;
  float: left;
  text-transform: none !important;
}

.placeholder {
  position: absolute;
  height: var(--line-height);
  opacity: var(--opacity-tertiary);
}

.show {
  height: var(--line-height);
  opacity: 0;
  animation: fadein var(--duration-fade) forwards;
}

.hide {
  height: var(--line-height);
  opacity: var(--opacity-tertiary);
  animation: fadeout var(--duration-fade) forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.caret {
  bottom: 0;
  width: var(--font-width);
  height: var(--line-height);
}

.submit {
  flex-grow: 0;
  place-self: start;
}
