.form {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 1;
  column-gap: var(--margin);
  align-items: end;
  width: 100%;
  max-width: var(--chat-width);
}

.input {
  display: none;
}

.prompt {
  flex-grow: 1;
  min-height: var(--line-height);
  text-wrap: wrap;
  cursor: text;
}

.prompt-line {
  clear: both;
  float: left;
}

.placeholder {
  position: absolute;
  opacity: var(--opacity-tertiary);
}

.caret {
  bottom: 0;
  width: var(--margin);
  height: var(--line-height);
}

.submit {
  flex-grow: 0;
  place-self: start;
  user-select: none;
}
