.form {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 1;
  column-gap: var(--font-width);
  align-items: end;
  margin-left: var(--font-width);
  margin-right: var(--font-width);
  max-width: calc((var(--chat-width) - 3) * var(--font-width));
}

.input {
  display: none;
}

.pill {
  align-self: start;
}

.prompt {
  flex-grow: 1;
  width: 100%;
  min-height: var(--line-height);
  text-wrap: wrap;
  white-space: pre-wrap;
  word-break: break-all;
  cursor: text;
}

.prompt-line {
  position: relative;
  display: inline;
  clear: both;
  float: left;
  width: 100%;
  min-height: var(--line-height);
  text-transform: none !important;
  user-select: text !important;
  cursor: text !important;
}

.placeholder {
  position: absolute;
  height: var(--line-height);
  opacity: var(--opacity-tertiary);
  user-select: none !important;
  cursor: default !important;
}

.show {
  height: var(--line-height);
  opacity: 0;
  animation: fadein var(--duration-fade) forwards;
}

.hide {
  height: var(--line-height);
  opacity: var(--opacity-tertiary);
  animation: fadeout var(--duration-fade) forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.caret {
  position: absolute;
  display: inline;
  left: 0;
  top: 0;
  width: 100%;
  text-wrap: wrap;
  white-space: pre-wrap;
  word-break: break-all;
  opacity: var(--opacity-primary);
  user-select: none !important;
  cursor: default !important;
}

.submit {
  flex-grow: 0;
  place-self: start;
}
