.root {
  display: flex;
  flex-direction: row;
  margin-top: var(--line-height);
  margin-bottom: var(--line-height);
  margin-left: var(--font-width);
}

.corner {
  opacity: var(--opacity-tertiary);
}

.line {
  width: calc(100% - var(--font-width));
  opacity: var(--opacity-tertiary);
}

.toolbar {
  display: flex;
  flex-direction: row;
}
