.root {
  display: flex;
  flex-direction: row;
}

.corner {
  opacity: var(--opacity-tertiary);
}

.line {
  width: 100%;
  opacity: var(--opacity-tertiary);
}

.toolbar {
  display: flex;
  flex-direction: row;
}
