.root {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  opacity: var(--opacity-secondary);
  p {
    display: inline-block;
    vertical-align: top;
    padding-bottom: var(--line-height);
    em {
      opacity: var(--opacity-primary);
      color: var(--color-highlight);
    }
    a {
      opacity: var(--opacity-primary);
      color: var(--color-highlight);
    }
  }
  ul {
    list-style-position: outside;
    margin-left: calc(var(--tab-size) * var(--font-width));
  }
  ul > :last-child {
    padding-bottom: 0 !important;
    p {
      padding-bottom: 0 !important;
    }
  }
  ol {
    list-style-position: outside;
    padding-left: calc(var(--tab-size) * var(--font-width));
    margin-left: calc(var(--tab-size) * var(--font-width));
  }
}

.hr {
  margin: 0;
  padding: 0;
  opacity: var(--opacity-tertiary);
}

.has-caret > * > :last-child {
  padding-bottom: 0 !important;
}
