.root {
  padding: 0;
  margin: 0;
  width: fit-content;
}

.vline {
  width: var(--font-width);
}

.hline {
  height: var(--line-height);
}
.border {
  user-select: none;
  word-wrap: break-word;
  overflow: hidden;
  cursor: default;
  opacity: var(--opacity-secondary);
}

.center {
  display: flex;
  flex-direction: row;
}

.content {
  flex-grow: 1;
}
