:root {
  /* constants */
  --base-size: 15; /* default font size */
  --base-height: 1.8; /* default line height */
  /* global variables */
  --font-width: 1rem;
  --font-height: 2rem;
  --margin: 1rem;
  --padding: 2rem;
  --border-radius: 0.1rem;
  --scrollbar-size: 1rem;
  --font-size: calc(var(--base-size) * 1px);
  --font-weight: 500; /* 400 normal, 700 bold */
  --line-height: calc(var(--base-height) * 1rem);
  --tab-size: 2;
  --opacity-primary: 1;
  --opacity-secondary: 0.7;
  --opacity-tertiary: 0.5;
  --opacity-ghosting: 0.25;
  --opacity-background: 0.15;
  /* layout variables */
  --menu-width: 20;
  --content-width: 48;
  /* colors */
  --h: 30; /* amber:30 | yellow: 90 | green:120 | blue:180 */
  --s: 30; /* saturation */
  --l: 60; /* lightness */
  --color-primary: hsla(var(--h) var(--s) var(--l) / 0.7);
  --color-secondary: hsla(var(--h) var(--s) var(--l) / 0.5);
  --color-tertiary: hsla(var(--h) var(--s) var(--l) / 0.3);
  --color-background: hsla(var(--h) var(--s) var(--l) / 0.15);
  --color-highlight: hsla(var(--h) calc(var(--s) * 1.2) calc(var(--l) * 1.2));
  --color-scrollbar: hsla(var(--h) var(--s) var(--l) / 0.125);
  /* duration */
  --duration-transition: 375ms;
  --duration-fade: 750ms;
  --duration-lifespan: 555ms;
  /* z-index */
  --z-index-background: 1;
  --z-index-screen: 2;
  --z-index-debug: 3;
  /* global settings */
  user-select: none;
  -webkit-user-drag: none;
  font-family: "VT220", monospace;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  ::selection {
    background-color: var(--color-background);
    color: var(--color-highlight);
  }
  ::-webkit-scrollbar {
    background-color: transparent;
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
  }
  ::-webkit-scrollbar-thumb {
    background-image: repeating-linear-gradient(
      0deg,
      #0000 0rem,
      var(--color-scrollbar) 0.02rem,
      var(--color-scrollbar) 0.12rem,
      #0000 0.14rem,
      #0000 0.2rem
    );
    background-size: 0.8rem, 100%;
    background-repeat: no-repeat, repeat;
    background-position-y: 0.12rem;
  }
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
  visibility: hidden;
}

div {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: var(--line-height);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p {
  margin: 0;
  padding: 0;
}

strong {
  color: var(--color-highlight);
}

span {
  display: inline-block;
}

textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
  caret-color: transparent;
}

ul,
ol {
  margin: 0;
  padding: 0;
  margin-bottom: var(--line-height);
  list-style-position: inside;
}

ul {
  list-style-type: "* ";
}

li {
  margin: 0;
  padding: 0;
}

pre {
  margin: 0;
  padding: 0;
  margin-bottom: var(--line-height);
  font-family: inherit;
  font-weight: inherit;
  white-space: pre-wrap;
}

code {
  tab-size: 2;
  font-family: inherit;
  font-weight: inherit;
  white-space: pre-wrap;
  color: var(--color-highlight);
}

blockquote {
  margin: 0;
  padding: 0;
  padding-left: var(--padding);
  color: var(--color-highlight);
  p {
    margin: 0 !important;
    padding: 0 !important;
  }
}

button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  user-select: none;
  word-break: keep-all;
  cursor: pointer;
  transition:
    color var(--duration-transition) ease-out,
    opacity var(--duration-transition) ease-out;
}

button:hover {
  color: var(--color-highlight);
}

button[disabled] {
  opacity: var(--opacity-tertiary);
  cursor: not-allowed;
}

a {
  display: inline-block;
  color: var(--color-primary);
  text-decoration: inherit;
  outline: none;
  cursor: pointer;
  transition: color var(--duration-transition) ease-out;
}

a:hover {
  color: var(--color-highlight);
}

a:visited {
  color: var(--color-primary);
}

a:focus {
  color: var(--color-highlight);
}
