/* original fonts: https://github.com/svofski/glasstty */

@font-face {
  font-family: "VT220";
  src: url("/fonts/vt220.woff2") format("woff2");
}

.ascii {
  color: var(--color-primary);
  font-family: "VT220", monospace;
  font-display: swap;
  font-style: normal;
  font-kerning: none;
  font-variant: no-common-ligatures tabular-nums;
  font-synthesis: none;
  font-size: var(--font-height);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  text-shadow:
    -0.75rem -0.01rem 0.4rem var(--color-background),
    -0.625rem 0rem 0.3rem var(--color-background),
    -0.5rem 0.01rem 0.2rem var(--color-background),
    -0.02rem 0rem 0.4rem var(--color-secondary),
    -0.01rem 0rem 0.2rem var(--color-secondary),
    0rem 0rem 0.1rem var(--color-primary),
    0.3rem -0.02rem 0.2rem var(--color-tertiary),
    0rem 0rem 0.5rem var(--color-tertiary),
    0rem 0rem 0.05rem #000,
    0.2rem 0.02rem 0.1rem #000,
    0.2rem 0.1rem 0.3rem #000,
    0rem 0rem 0.5rem var(--color-secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text {
  text-decoration: none !important;
  text-transform: uppercase !important;
  user-select: text !important;
}

.blink {
  display: inline-block;
  animation: blinker 1000ms linear infinite;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
