.root {
  width: 100%;
  height: fit-content;
}

.form {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 1;
  column-gap: var(--font-width);
  align-items: end;
  width: 100%;
  max-width: calc((var(--content-width) - 2) * var(--font-width));
}

.input {
  display: none;
}

.pill {
  align-self: start;
}

.command {
  flex-grow: 1;
  min-height: var(--line-height);
}

.command-line {
  position: relative;
  display: inline;
  clear: both;
  float: left;
  width: 100%;
  min-height: var(--line-height);
  text-transform: none !important;
  user-select: text !important;
  cursor: text !important;
  text-wrap: wrap;
  white-space: pre-wrap;
}

.placeholder {
  position: absolute;
  height: var(--line-height);
  user-select: none !important;
  cursor: default !important;
}

.show {
  height: var(--line-height);
  opacity: var(--opacity-tertiary);
  transition: opacity var(--duration-fade) ease-out;
}

.hide {
  height: var(--line-height);
  opacity: 0;
  transition: opacity var(--duration-fade) ease-out;
}

.caret {
  position: absolute;
  display: inline;
  left: 0;
  top: 0;
  width: 100%;
  text-wrap: wrap;
  white-space: pre-wrap;
  word-break: break-all;
}

.submit {
  flex-grow: 0;
  place-self: start;
}
