.root {
  width: 100%;
  margin-right: calc(var(--font-width) - var(--scrollbar-size));
  overflow-x: hidden;
  overflow-y: scroll;
}

.header {
  display: flex;
  flex-direction: row;
}

.line {
  display: inline-block;
  margin-left: calc(var(--font-width) * 2);
  opacity: var(--opacity-tertiary);
  user-select: none;
  cursor: default;
}

.content {
  display: flex;
  flex-direction: row;
  column-gap: var(--font-width);
}

.text {
  text-align: left;
  flex-grow: 1;
  text-wrap: wrap;
}

.not-selected {
  opacity: var(--opacity-secondary);
}

.not-selected::before {
  content: ">";
  vertical-align: top;
  opacity: 0;
}

.selected {
  opacity: var(--opacity-primary);
}

.selected::before {
  content: ">";
  vertical-align: top;
  opacity: var(--opacity-secondary);
}

.button-remove {
  display: inline-block;
  place-self: start;
  align-self: right;
}
