.root {
  padding: 0;
  margin: 0;
  margin-right: calc(var(--font-width) - var(--scrollbar-size));
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: both mandatory;
  li {
    list-style-type: none;
    scroll-snap-align: start;
  }
}

.header {
  display: flex;
  flex-direction: row;
}

.toolbar {
  display: flex;
  flex-direction: row;
  transition: opacity var(--duration-fade) ease-out;
}

.line {
  margin-left: calc(var(--font-width) * 2);
  opacity: var(--opacity-tertiary);
  user-select: none;
  cursor: default;
}

.content {
  display: flex;
  flex-direction: row;
  column-gap: var(--font-width);
}

.show {
  opacity: 1;
  transition: opacity var(--duration-fade) ease-out;
}

.hide {
  opacity: 0;
  transition: opacity var(--duration-fade) ease-out;
}

.text {
  text-align: left;
  flex-grow: 1;
  text-wrap: wrap;
  user-select: text;
}

.selected {
  opacity: var(--opacity-primary);
  transition: opacity var(--duration-transition) ease-out;
}

.selected::before {
  content: ">";
  vertical-align: top;
  opacity: var(--opacity-secondary);
  transition: opacity var(--duration-transition) ease-out;
}

.not-selected {
  opacity: var(--opacity-secondary);
  transition: opacity var(--duration-transition) ease-out;
}

.not-selected::before {
  content: ">";
  vertical-align: top;
  opacity: 0;
  transition: opacity var(--duration-transition) ease-out;
}
