.root {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.body {
  color: var(--color-tertiary);
  b {
    color: var(--color-primary);
  }
}

.line {
  opacity: var(--opacity-tertiary);
}
