.root {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  transition: opacity var(--duration-fade) ease-in-out;
}

.separator {
  opacity: var(--opacity-tertiary);
}
