.root {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
}

.separator {
  opacity: var(--opacity-tertiary);
}

.path {
  animation: fadein var(--duration-fade) forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
