.root {
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none;
  scroll-snap-type: both mandatory;
}

.container {
  display: flex;
  flex-direction: row;
}

.container > ul {
  margin-bottom: 0 !important;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  row-gap: var(--line-height);
  justify-content: end;
  width: 100%;
  max-width: calc((var(--content-width) - 3) * var(--font-width));
  height: fit-content;
}

.content > :first-child {
  div {
    margin-top: 0 !important;
  }
}

.snap {
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: end;
  width: var(--font-width);
  opacity: var(--opacity-secondary);
  visibility: hidden;
  list-style-type: none;
  li {
    scroll-snap-align: start;
  }
}

#home,
#anchor,
#end {
  width: 100%;
  max-width: calc((var(--content-width) - 3) * var(--font-width));
}
