.root {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  column-gap: var(--font-width);
  align-items: start;
  align-self: stretch;
  padding-left: var(--font-width);
  height: fit-content;
}

.copyright {
  opacity: var(--opacity-secondary);
}

.info {
  opacity: var(--opacity-tertiary);
  word-break: break-all;
}

.version {
  opacity: var(--opacity-secondary);
}
