.root {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  column-gap: var(--font-width);
  align-items: start;
  align-self: stretch;
  padding-left: var(--font-width);
  height: fit-content;
  animation: fadein var(--duration-fade) forwards;
}

.spacing {
  display: flex;
  flex-direction: row;
  column-gap: var(--font-width);
}

.copyright {
  opacity: var(--opacity-tertiary);
}

.info {
  opacity: var(--opacity-secondary);
  word-break: break-all;
}

.version {
  opacity: var(--opacity-secondary);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
