.root {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  column-gap: var(--font-width);
  align-items: center;
  align-self: stretch;
  padding-left: var(--font-width);
}

.container {
  display: flex;
  flex-direction: row;
  column-gap: var(--font-width);
  height: fit-content;
}

.title {
  display: inline-block;
  text-wrap: wrap;
  text-overflow: ellipsis;
  width: fit-content;
  opacity: var(--opacity-primary);
}

.subtitle {
  min-height: var(--line-height);
  opacity: var(--opacity-secondary);
}

.subtext {
  animation: fadein var(--duration-fade) forwards;
}

.avatar {
  display: flex;
  flex: row;
  column-gap: var(--font-width);
  align-items: flex-start;
  opacity: 0;
  animation: fadein var(--duration-fade) forwards;
}

.avatar::after {
  content: "?";
  opacity: var(--opacity-tertiary);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: start;
  width: fit-content;
  height: fit-content;
}
