.root {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  column-gap: var(--font-width);
  align-items: flex-start;
  align-self: stretch;
  padding-left: var(--font-width);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: var(--font-width);
  height: fit-content;
}

.title {
  display: inline-block;
  text-wrap: wrap;
  text-overflow: ellipsis;
  opacity: var(--opacity-primary);
}

.subtitle {
  flex-shrink: 1;
  min-height: var(--line-height);
  opacity: var(--opacity-secondary);
}

.subtext {
  animation: fadein var(--duration-fade) forwards;
}

.gradient {
  margin-left: var(--font-width);
  margin-right: var(--font-width);
  opacity: var(--opacity-tertiary);
  text-transform: none;
  user-select: none;
}

.avatar {
  display: flex;
  flex: row;
  flex-wrap: nowrap;
  column-gap: var(--font-width);
  align-items: flex-start;
  opacity: 0;
  animation: fadein var(--duration-fade) forwards;
}

.help {
  height: var(--line-height);
  opacity: var(--opacity-tertiary) !important;
}

.button {
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
  width: fit-content;
  height: fit-content;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
