.root {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  width: var(--menu-width);
  height: 100%;
}

.title {
  opacity: var(--opacity-secondary);
}

.subtitle {
  opacity: var(--opacity-secondary);
}

.count {
  opacity: var(--opacity-primary);
}

.line {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: start;
  width: 100%;
  height: var(--line-height);
  opacity: var(--opacity-secondary);
}
