.root {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  width: calc(var(--menu-width) * var(--font-width));
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--font-width);
}

.title {
  opacity: var(--opacity-secondary);
}

.subtitle {
  opacity: var(--opacity-tertiary);
}

.count {
  opacity: var(--opacity-primary);
}

.line {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: start;
  width: 100%;
  height: var(--line-height);
  opacity: var(--opacity-secondary);
}
