.root {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  column-gap: var(--margin);
  padding-right: var(--margin);
  width: var(--menu-width);
  height: 100%;
  overflow: none auto;
}
